.about {
    background: gray;
}

.about .about-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about h1 {
    height:10%;
    padding: 30px;
}
.about-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;
    gap:40px

}
.about-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 2000px;
    width: 100%;
    height: fit-content;
    max-height: 1600px;
    gap:100px;
    padding: 0px 40px;
}

.about .list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    max-width: 500px;
    height: 100%;
    padding: 50px 20px;
    font-size: 2rem;

}

.about .list.small{
    display: none;
}

.about .list i {
    margin: 10px;
}

.about-image {
    width: 100%;
    max-width: 1000px;
    min-width: 400px;
    border-radius: 100%;
    object-fit: cover;
}
.about .about-content .list .lol-open{
    display: inline;
}
.about .about-content .list .lol-close{
    display: none;
}

.about .about-content-container .list-below{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:50px
}


@media screen and (min-width: 1000px) {

    .about p{
        font-size: 2rem;

    }

}
@media screen and (max-width: 1200px) {
    .about .about-content{
        flex-direction: column;
        padding: 0;
        gap:0;
        font-size: 0.5rem;
    }
    .about .about-content .list{
        padding: 0 20px;
        text-align: left;
        font-size: 5px;
        order:2
    }
    .about .about-content .list .lol-open{
        display: none;
    }
    .about .about-content .list .lol-close{
        display: inline;
    }
    .about .about-content .about-image {
        min-width: 300px;
        padding: 0 20px;
    }

    .about .about-content .list.small{
        display:flex
    }

    .about .about-content-container .list-below{
        display: none;
    }

    }
@media screen and (min-width: 1500px) {
    .about  p{
        font-size: 2.5rem;

    }

}