.pricing {
    background: #9c9c9c;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.pricing2 {
    color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pricing2 .plan {
    background-color: #fff;
    padding: 2.5rem;
    margin: 12px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}

.pricing2 .plan h2 {
    font-size: 22px;
    margin-bottom: 12px;
}

.pricing2 .plan .price {
    margin-bottom: 1rem;
    font-size: 30px;
}

.pricing2 .plan ul.features {
    list-style-type: none;
    text-align: left;
    padding: 0;
}

.pricing2 .plan ul.features li {
    margin: 8px;
}

.pricing2 .plan ul.features li .fas {
    margin-right: 4px;
}

.pricing2 .plan ul.features li .fa-check-circle {
    color: orange;
}

.pricing2 .plan ul.features li .fa-times-circle {
    color: #eb4d4b;
}

.pricing2 .plan button {
    border: none;
    width: 100%;
    padding: 12px 35px;
    margin-top: 1rem;
    background-color: orange;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* Popular plan style */
.pricing2 .plan.popular {
    border: 2px solid orange;
    position: relative;
    transform: scale(1.08);
}

.pricing2 .plan.popular span {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: orange;
    color: #fff;
    padding: 4px 20px;
    font-size: 18px;
    border-radius: 5px;
}

/* Hover effect */
.pricing2 .plan:hover {
    box-shadow: 5px 7px 67px -28px rgba(0, 0, 0, 0.37);
}

.pricing2 button{
    cursor: pointer;
}


