.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    overflow: hidden;
    background: #000;
    padding: 1rem 2rem;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
}

